
body {
  background-image: url('media/warhammer-40-000-adeptus-mechanicus-tyranids-techpriest.jpg');
  background-color: black;
  color: #9a1115;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

li {
  padding: 2rem;
  margin: 2rem;
  border: 5px solid black;
  border-radius: 10px;
  background-color: grey;
}
